*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    height: 95px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color:deeppink;
    position: fixed;
    width: 100%;
    display: flex;
  }
  .navbar ul {
    margin: 10px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content:flex-end;
    text-decoration: none;
  }
  .div_usuario{
    margin: 100px;
    gap: 20%;
  }

  .usuarios-menu a {
    margin: 5px 20px;
    text-decoration: none;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }  
  .material-symbols-outlined{
    width: 120%;
    height: 10%;
    gap: 6px;
    color: black;
    
  }
  .navbar {
    display: flex;
  }
  .navbar i {
    font-size: 36px;
    display: none;
    justify-content:left;
  }
  #toggle-menu {
    display: none;
  }
  .navbar-link {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 300;
    gap: 5px;
    margin: 5px 20px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  @media (max-width: 576px) {
    .navbar ul {
      background: white;
      width: 100%;
      height: calc(100 vh - 80px);
      position: absolute;
      top: 80px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
    }
    .navbar i {
      display: block;
    }
    #toggle-menu:checked ~ .navbar-list{
      display: flex;
    }   
    }
  
 body{
    background-color:coral;
  }

  h1{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
  }
  h2 {
    font-size: 30px;
    
  }

main {
    display:block;
    padding: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
}

button {
    display:block;
    align-items:center;
    text-align:justify ;
    font-size: 15px;
    padding: 20px;
    border-radius: 30px;
    color:brown;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 5%;  
 }

.hero-info img{
    display:flex;
    justify-content:right ;
    margin-left: 500px ;
   margin-top: -250px;    
 }

 #info h2 {
    font-size: 30px;
    font-weight: 300px;
    align-items: center;
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 300px;
    height: 260px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(219, 110, 128);
    border-radius: 300px;
    gap: 20;
}

.info-card {
    font-size: 20px;
    font-weight: 100px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productos_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.productos_cards img {
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  padding: 5px;
  border-radius: 5rem;
}

.elementos_cards {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background:rgb(255, 74, 61);
  max-width: 100%;
}

.card_bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgb(15, 15, 15);
  font-size: 25px;
  font-family:monospace;
} 

.info-contacto-container{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    justify-content:flex-start;
    padding: 10px;
    padding-top:10px ;
    flex-direction: row;
}

.only-icons {
    font-size: 25px;  
    padding: 10px;  
}
.contact-img{
    width: 100px;
    height: 50px;
    margin-top:50px;
    display:flex;
    flex-direction: row;
}

.info_map {
  height: 90%;
  padding: 20px;
  display:flex;
  justify-content:right ;
  margin-left: 600px ;
 margin-top: -290px; 
}
footer {
    margin: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: 5px;
    
  }

 .productos {
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
 }
 
 .hero-card {
  width: 300px;
  background-color:brown;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  gap: 20px;
}
/*LOGIN*/
.formulario_login {
  text-align: center;
  display: block;
}

.formulario_login h1 {
  text-align: center;
  align-items: center;
}

.box-login {
  font-size: 200%;
  margin-top: 200px;
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  padding-top: 20px;
  padding: 80rem;
}
.box-login a {
  margin-bottom: 100px;
  text-decoration: none;
  text-align:inherit;
  font-size: small;
  border-radius: 10px;
}

/*registro*/
.formulario_registro {
  text-align: center;
  display: block
}

.formulario_registro h1 {
   text-align:center ;
   align-items: center;
}

.box_registro {
  gap: 20px;
  padding: 50px;
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  padding-top: 20px;
}

.box_registro a {
  text-decoration: none;
  color:rgb(18, 19, 17);
}
.button-enviar {
  padding: 20px;
  margin: 200px;
  margin-top: -130px;
}
   
 